name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"
    - name: Run tests
      run: go test ./...

  publish:
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
    - uses: actions/checkout@v6
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3
    - id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          ghcr.io/zerok/podcast-archiver/podcast-archiver
        tags: |
          type=raw,value={{date 'YYYYMMDD'}}-{{sha}}
          type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
    - if: "${{ github.ref == 'refs/heads/main' }}"
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: docker/build-push-action@v6
      with:
        build-args: |
          COMMIT=${{ github.sha }}
          VERSION=${{ github.ref_name }}
        context: .
        platforms: linux/amd64${{ github.ref == 'refs/heads/main' && ',linux/arm64' || '' }}
        push: ${{ github.ref == 'refs/heads/main' }}
        tags: ${{ steps.meta.outputs.tags }}

